.task-description{
    font-size:'12px';
    color:rgb(101,101,101);
}

.step-description+.step-description::before{
    content:' . ';
    font-size:'18px';
    font-weight:500;
    width:'18px';
    color:rgb(101,101,101);
}

.star-button{
    display:inline-block;
    width:22px;
    height:22px;
}