.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arco-icon { font-size: 32; }

.arco-list {
  border: none;
}

.flex-row{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.flex-col{
  display:flex;
  height:100%;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
}

.sider-header{
  position:absolute;
  top:0;
  right: 4px;
  left: 4px;
  padding:5px 10px;
}

/* .app-myList::-webkit-scrollbar-track{
  display:none;
} */

/* 隐藏滚动条按钮 */
.app-myList::-webkit-scrollbar{
    display: none;
}

.arco-layout-sider-children::-webkit-scrollbar{
  background-color:inherit;
  width:3px;
}

.arco-layout-sider-children::-webkit-scrollbar-corner , .arco-layout-sider-children::-webkit-scrollbar-button{
  display:none;
}

.arco-layout-sider-children::-webkit-scrollbar-thumb{
  background-color:rgba(25,25,25,0.52);
  border-radius: 2px;
}

.arco-layout-sider-children::-webkit-scrollbar-track{
  opacity:0;
}

.float-button{
  color:white;
  background-color:rgba(24,24,24,0.78);
  width:28px;
  height:28px;
}

input.no-border{
  border:none !important;
}

.menu-container{
  background-color:rgb(250,250,250);
  font-size:14px;
  font-weight: 500;

}

.menu-item{
  padding:4px 3px;
}

.menu-item + .menu-item{
  margin-top:5px;
}

.right-sider{
  padding-right:2px;
}

.right-sider-content{
  padding:0px 12px 15px 12px;
}

.list-item-normal{
  padding:13px 22px;
  background-color:rgb(255,255,255);
  border-radius: 6px;
}

.list-item-normal + .list-item-normal{
  margin-top:2px;
}

.list-item-normal .star-button{
  width:24px;
  height:24px;
}

.clickable-icon:hover{
  cursor:pointer;
}

.steps-container{
  padding:10px 10px;
  border:1px solid rgb(221 210 210);
}

.step-item{
  padding:4px 10px!important;
  font-size:'12px';
}

.border-form-container{
  padding:20px 20px 20px 0px;
  border:1px solid rgb(221 210 210);
}